div.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
  
    & div.logo{
      /* flex:1; */
    }
    & div.logo>span {  
        font-family:"Roboto Serif",serif; 
        font-size:24px;
        font-weight: 500;
  
        &:nth-child(1){
          color:red
        }
    }
  }
  
  ul.navigation-list {
    /* flex:3; */
    min-width: fit-content;
    margin-left:30px;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    gap: 1rem;
    transition:1s;

    & li{
      display:flex;
      align-items:center;
      border-bottom:2px solid white;
      padding:0 10px 0 10px;
      &:hover{
        border-bottom:2px solid rgb(30, 30, 30);
      }
    }
  }
  
  div.navbar-login-signup-btn {
    display: flex;
    flex-direction: row;
    /* flex:2; */
    gap: 16px;
    width: 100%;
    justify-content: flex-end;
    height:100%;
  
    & button:nth-child(1) {
        padding:0 10px 0 10px;
        background-color: transparent;
        border: none;
        font-weight: 300; 
        cursor:pointer;
        border-bottom:2px solid transparent;
        /* height:100%; */
  
        &:hover{
          border-bottom:2px solid rgb(30, 30, 30);
        }
    }
  
    & button:nth-child(2) {
        align-self: center;
        height:2.5rem;
        padding: 10px 15px;
        border: none;
        border-radius: 20px;
        background-color: black;
        color: white;
        font-weight: 600;
        cursor:pointer;
  
        &:hover{
          background-color: gray;
        }
    }
  }
  
/* @media screen and (max-width:1260px){
  ul.navigation-list{
    & li:nth-child(7), li:nth-child(6){
      opacity:0;
    }
  }
} */
@media screen and (max-width:1200px){
  ul.navigation-list{
    width:1000px;
    & li:nth-child(7), li:nth-child(6){
      display:none;
    }
  }
}

@media screen and (max-width:850px){
  ul.navigation-list{
    display:none;
  }
}
  